<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calcul périmètre et de surface
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Cacul de Périmètres</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-item>
    <ion-label floating color="primary"> rayon du cercle :</ion-label>
    <ion-input #rayon type="number" value=""></ion-input>
  </ion-item>

  <!-- Bouton de validation -->
  <br>

  <ion-button expand="round" size="small" color="primary" (click)="CalculsCercle(rayon.value)">Calcul de la surface et du perimètre</ion-button>
  <br>

  <ion-item>
    <ion-label floating color="primary">La surface du cercle</ion-label>
    <ion-input type="number" [(ngModel)]="surface" readonly="true"></ion-input>
    <ion-label floating color="primary"> cm2</ion-label>
  </ion-item>
  <br>
  <ion-item>
    <ion-label floating color="primary">Le périmètre du cercle</ion-label>
    <ion-input type="number" [(ngModel)]="perimetre" readonly="true"></ion-input>
    <ion-label floating color="primary"> cm</ion-label>
  </ion-item>

</ion-content>
